# Database Configuration
# Format: postgresql://<USERNAME>:<PASSWORD>@<HOST>:<PORT>/<DATABASE>?schema=public
DATABASE_URL="postgresql://postgres:YOUR_PASSWORD@localhost:5432/stocksense?schema=public"

# Application Configuration
PORT=3000
